h3{
    font-size: 30px;
    text-decoration: overline;
}
.second{
    /* display: none; */
    /* visibility: hidden; */
}
.blog,.second{
    margin: 20px;
    border: 10px solid tomato;
    box-shadow: 10px 10px 20px blueviolet;
    font-family: 'Courier New', Courier, monospace;
}
.aperim{
    border: 2px solid purple;
    display: block;
    /* visibility: hidden; */
}
.header{
    height: 300px;
    background-image: url(bella\ c.jpg);
    background-repeat: no-repeat;
    /* background-repeat: repeat-y; */
    /* background-size: cover; */
    
    background-size: contain;
    /* background-size: 200px; */
}
.dolor{
    border: 2px solid peru;
    height: 60px;
    /* display: block; */
    /* display: inline-block; */
}